<a href="https://colab.research.google.com/github/YoonJoony/Spring-Study/blob/main/4table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas
- 데이터 분석에 사용 : Table 사용
- Series : 행 성생
- DataFrmae : 
- list
- tuple

In [ ]:
# row 데이터 생성
import pandas as pd # 메소드 가져오기
from random import randint # 난수 데이터 사용
### (1) Series

# 1. list
db1 = []
for i in range(0, 5, 1) : #반복 횟수 : 5번 반복, 1씩 증가
  db1.append(randint(0, 100)) # 0 ~ 100 정수 난수 만들기
print(db1, "\n")

# 2. series with list
row1 = pd.Series(db1) #db1을 한 행으로 나타냄
print(type(row1))

# 3. reset its indices 기존 인덱스를 다른 인덱스로 바꾸기
index_name = ["python", "scala", "java", "R", "spark"] # 열이 5개 이므로 속성 이름을 5개 바꿔줌
row1 = pd.Series(db1, index_name) # 변수로 처리한 인덱스를 테이블에 적용
print(row1)

[4, 85, 26, 76, 53]

<class 'pandas.core.series.Series'>
python     4
scala     85
java      26
R         76
spark     53
dtype: int64

In [ ]:
from pandas.io.formats.style_render import Series
# Series 데이터 접근(1) : indexing, slicing
import pandas as pd
print(row1[0], end="\n\n") 
print(row1['java'], end="\n\n") # 문자열 값으로 해도 조회됨
print(row1[0:3], end="\n\n") # 3개 조회
# print(list(row1, index), end="\n\n")
print(row1.index(1), end="\n\n") # 인덱스 1 행 이름 조회

print(row1.values);

4

26

python     4
scala     85
java      26
dtype: int64

TypeError: ignored

In [ ]:
# Series 데이터 연산 : 
#1. row 데이터 생성
db2 = []
for i in range(0, 5, 1) : #반복 횟수 : 5번 반복, 1씩 증가
  db2.append(randint(0, 100)) # 0 ~ 100 정수 난수 만들기
print(db2, "\n")

In [ ]:

# 2. series with list
row2 = pd.Series(db2) #db1을 한 행으로 나타냄
print(type(row2))

# 3. reset its indices 기존 인덱스를 다른 인덱스로 바꾸기
index_name = ["python", "scala", "java", "R", "spark"] # 열이 5개 이므로 속성 이름을 5개 바꿔줌
row2 = pd.Series(db2, index_name) # 변수로 처리한 인덱스를 테이블에 적용
print(row2, end="\n\n")

# 4. add two series 두 개의 시리즈를 더한다. => ㄴㄷ갿ㄴ
sum = row1 + row2
row3 = pd.Series(sum, index_name)
# row3 = pd.Series(sum, index = ["python", "scala", "java", "R", "spark"])
print(row3, end="\n\n")

<class 'pandas.core.series.Series'>
python    62
scala     22
java      13
R         56
spark     52
dtype: int64

python     66
scala     107
java       39
R         132
spark     105
dtype: int64

### (2) DataFrame
- Series
- list 
- file

In [ ]:
# DataFrame 생성 (1) : series 로 구성된 테이블
rowset = [row1, row2, row3]

table = pd.DataFrame(rowset)
table #0, 1, 2 는 인덱스

   python  scala  java    R  spark
0       4     85    26   76     53
1      62     22    13   56     52
2      66    107    39  132    105

In [ ]:
# DataFrame 생성 (2): list로 구성된 테이블
import pandas as pd
# 1. 데이터 : list
from urllib.request import urlopen
from bs4 import BeautifulSoup

html = urlopen("http://www.naver.com/")

bs = BeautifulSoup(html, "html.parser") # html -> parsing -> tree with lags

links = []
for a_tag in bs.find_all('a', href=True):
  links.append(a_tag.get('href'))

urls = []
for item in links:
  if item.startswith("https://"):
    urls.append(item)
print(len(urls))
print(urls[:3])

# 2. table 생성
db = pd.DataFrame(urls[:3], columns = ["URL"]) #
db

132
['https://whale.naver.com/ko/details/security/&wpid=RydDy7', 'https://installer-whale.pstatic.net/downloads/banner/RydDy7/WhaleSetup.exe', 'https://help.naver.com/support/welcomePage/guide.help']

                                                 URL
0  https://whale.naver.com/ko/details/security/&w...
1  https://installer-whale.pstatic.net/downloads/...
2  https://help.naver.com/support/welcomePage/gui...

In [ ]:
# DataFrame 생성 (3) : dictonary 로 구성된 테이블
# 1. dataset
data_dict = {'year':[2018, 2019, 2020], 'sales' : [350, 480, 1099]}
print(data_dict, end="\n\n")

# 2. table 생성
tb1 = pd.DataFrame(data_dict)
print(tb1)

# print(type(tb1.values)) 데이터 타입 조회

{'year': [2018, 2019, 2020], 'sales': [350, 480, 1099]}

   year  sales
0  2018    350
1  2019    480
2  2020   1099
<class 'numpy.ndarray'>

In [97]:
# DataFrame 생성(4) : 리스트의 리스트
# 1. dataset

list_20 = [[89.2, 19.4, 10.6], [22.5, 12.5, 90.8]]

# 2. table
df = pd.DataFrame(list_20, index = ['숫자1', '숫자2'])
# print(df, end="\n\n")

# print(df.head(1), end="\n\n") # 첫번째 행만 조회

# print(df.tail(1), end="\n\n") # 끝에서부터 1 번째 행 조회

# 3. rename columns
df.columns = ["배", "고", "파"]
df.index = ["중간고사", "기말고사"]
print(df, "\n\n")

# 4. 테이블의 정보 출력
print(df.info(), "\n\n") # 리스트로 만든 테이블에 대한 정보 조회

         배     고     파
중간고사  89.2  19.4  10.6
기말고사  22.5  12.5  90.8


<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 중간고사 to 기말고사
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   배       2 non-null      float64
 1   고       2 non-null      float64
 2   파       2 non-null      float64
dtypes: float64(3)
memory usage: 64.0+ bytes
None

# (2) DataFrame : 여러 행들을 추출
- 테이블 변수명.loc[[인덱스명]
- 한 개의 행 또는 여러 개의 행을 반환해줌

In [112]:
# 테이블 생성
import pandas as pd
data = {
      "calories" : [420, 380, 390],
      "flat" : [50, 40, 60],
      "protein" : [59, 60, 70]
}

# df = pd.DataFrame(data)
# df.index = ["day1", "day2", "day3"]
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df, "\n\n")
# 2. 테이블의 행 검색
print(df.loc[["day1"]], "\n\n") # 인덱스 명으로 지정하면 인덱스 명으로만 조회가능
print(df.loc[["day1", "day3"]], "\n\n")

      calories  flat  protein
day1       420    50       59
day2       380    40       60
day3       390    60       70


      calories  flat  protein
day1       420    50       59


      calories  flat  protein
day1       420    50       59
day3       390    60       70