<a href="https://colab.research.google.com/github/YoonJoony/Spring-Study/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas
- 데이터 분석에 사용 : Table 사용
- Series : 행 성생
- DataFrmae : 
- list
- tuple

In [18]:
# row 데이터 생성
import pandas as pd # 메소드 가져오기
from random import randint # 난수 데이터 사용
### (1) Series

# 1. list
db1 = []
for i in range(0, 5, 1) : #반복 횟수 : 5번 반복, 1씩 증가
  db1.append(randint(0, 100)) # 0 ~ 100 정수 난수 만들기
print(db1, "\n")

# 2. series with list
row1 = pd.Series(db1) #db1을 한 행으로 나타냄
print(type(row1))

# 3. reset its indices 기존 인덱스를 다른 인덱스로 바꾸기
index_name = ["python", "scala", "java", "R", "spark"] # 열이 5개 이므로 속성 이름을 5개 바꿔줌
row1 = pd.Series(db1, index_name) # 변수로 처리한 인덱스를 테이블에 적용
print(row1)

[4, 85, 26, 76, 53]

<class 'pandas.core.series.Series'>
python     4
scala     85
java      26
R         76
spark     53
dtype: int64

In [37]:
from pandas.io.formats.style_render import Series
# Series 데이터 접근(1) : indexing, slicing
import pandas as pd
print(row1[0], end="\n\n") 
print(row1['java'], end="\n\n") # 문자열 값으로 해도 조회됨
print(row1[0:3], end="\n\n") # 3개 조회
# print(list(row1, index), end="\n\n")
print(row1.index(1), end="\n\n") # 인덱스 1 행 이름 조회

print(row1.values);

4

26

python     4
scala     85
java      26
dtype: int64

TypeError: ignored

In [ ]:
# Series 데이터 연산 : 
#1. row 데이터 생성
db2 = []
for i in range(0, 5, 1) : #반복 횟수 : 5번 반복, 1씩 증가
  db2.append(randint(0, 100)) # 0 ~ 100 정수 난수 만들기
print(db2, "\n")

In [47]:

# 2. series with list
row2 = pd.Series(db2) #db1을 한 행으로 나타냄
print(type(row2))

# 3. reset its indices 기존 인덱스를 다른 인덱스로 바꾸기
index_name = ["python", "scala", "java", "R", "spark"] # 열이 5개 이므로 속성 이름을 5개 바꿔줌
row2 = pd.Series(db2, index_name) # 변수로 처리한 인덱스를 테이블에 적용
print(row2, end="\n\n")

# 4. add two series 두 개의 시리즈를 더한다. => ㄴㄷ갿ㄴ
sum = row1 + row2
row3 = pd.Series(sum, index_name)
row3 = pd.Series(sum, index = ["python", "scala", "java", "R", "spark"])
print(row3, end="\n\n")

<class 'pandas.core.series.Series'>
python    62
scala     22
java      13
R         56
spark     52
dtype: int64

python     66
scala     107
java       39
R         132
spark     105
dtype: int64

### (2) DataFrame
- Series
- list 
- file

In [49]:
# DataFrame 생성 (1) : series 로 구성된 테이블
rowset = [row1, row2, row3]

table = pd.DataFrame(rowset)
table #0, 1, 2 는 인덱스

   python  scala  java    R  spark
0       4     85    26   76     53
1      62     22    13   56     52
2      66    107    39  132    105